{% extends "zerver/portico.html" %}

{% block title %}
<title>Required metadata missing | Zulip</title>
{% endblock %}

{% block portico_content %}
<div class="center-block flex full-page account-creation new-style">
    <div class="inline-block">
        <div class="get-started">
            <h1>Error: Server not uploading basic metadata</h1>
        </div>
        <div class="white-box">
            <p>
                This Zulip plan management interface requires
                up-to-date <a href="https://zulip.readthedocs.io/en/latest/production/mobile-push-notifications.html#uploading-basic-metadata">basic metadata</a>
                about your Zulip installation in order to function.

                It appears that your Zulip server is not successfully
                uploading basic metadata.
            </p>
            {% if remote_realm_session %}
            <p>
                Please contact Zulip support for help with
                investigating this problem.
            </p>
            {% elif supports_remote_realms %}
            <p>
                Please contact Zulip support for help with
                investigating this problem.
            </p>
            {% else %}
            <p>
                To correct this, your Zulip server's administrator
                must
                either <a href="https://zulip.readthedocs.io/en/stable/production/upgrade.html">upgrade</a>
                to Zulip 8.0 or newer, or enable
                the <code>SUBMIT_USAGE_STATISTICS</code> setting.
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
